In [1]:
import cx_Oracle
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import pandas as pd 
import logging
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Database connection setup
dsn = cx_Oracle.makedsn('t')
db = cx_Oracle.connect(user='', password='', dsn=dsn)
cursor = db.cursor()
logging.debug("Connected to the database.")
print("Connected to the database.")

Connected to the database.

In [5]:
# SQL Queries
query1 = """
SELECT * 
FROM CVM_DM_PROD.CHURN_TRAINING_VALIDATION ctv 
WHERE ctv.PROCESSING_DATE = TO_DATE('2024-08-01','yyyy-mm-dd')

"""

In [7]:
cursor.execute(query1)
rows_query1 = cursor.fetchall()
count_query1 = len(rows_query1)
logging.debug(f"Query executed. Number of rows returned: {count_query1}")
print(f"Query executed. Number of rows returned: {count_query1}")

Query executed. Number of rows returned: 2480747

In [9]:
def process_and_merge_chunks(data_list, chunk_size):
    """
    Processes a large list of data in chunks, converts each chunk to a DataFrame, and merges them into a single DataFrame.

    Parameters:
    - data_list: The complete list of data.
    - chunk_size: The number of items per chunk to process at a time.

    Returns:
    - A single DataFrame containing all the merged data.
    """
    # Initialize an empty list to store DataFrames
    dfs = []
    
    # Process the data list in chunks
    for i in range(0, len(data_list), chunk_size):
        # Extract a chunk of data
        chunk = data_list[i:i + chunk_size]
        
        # Convert the chunk to a DataFrame
        df_chunk = pd.DataFrame(chunk)
        
        # Append the DataFrame to the list
        dfs.append(df_chunk)
    
    # Concatenate all DataFrames into a single DataFrame
    merged_df = pd.concat(dfs, ignore_index=True)
    
    return merged_df

In [11]:
# Example usage
data_list = rows_query1  # Replace with your list of data
chunk_size = 10000  # Adjust the chunk size as needed
merged_df = process_and_merge_chunks(data_list, chunk_size)

In [13]:
merged_df

,0,1,2,3,4,5,6,7,8,9,...,333,334,335,336,337,338,339,340,341,342
0,2024-08-01,251717234052,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,5.0,0.0,0.0,CBU,Oromia,297,5,1,0,TBP
1,2024-08-01,251702006957,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,4.0,0.0,EBU-Internal,Addis Ababa,467,4,1,0,TBP
2,2024-08-01,251702002121,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,24.0,23.0,23.0,EBU-Internal,Addis Ababa,467,5,1,1,TBP
3,2024-08-01,251712054105,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,2.0,4.0,6.0,CBU,Oromia,502,2,1,1,TBP
4,2024-08-01,251712203668,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,13.0,10.0,4.0,CBU,None,256,5,1,1,TBP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2480742,2024-08-01,251703432946,0.144000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,28.0,3.0,0.0,CBU,Dire Dawa,716,5,1,1,TBP
2480743,2024-08-01,251712316471,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,18.0,10.0,5.0,CBU,None,232,5,1,1,TBP
2480744,2024-08-01,251716053227,0.403572,0.0,0.1,0.0,0.107143,0.103572,0.0,0.557144,...,28.0,26.0,27.0,CBU,Addis Ababa,327,5,1,0,TBP
2480745,2024-08-01,251715137507,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,21.0,23.0,0.0,CBU,None,410,5,1,0,TBP
2480746,2024-08-01,251713022516,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,23.0,23.0,26.0,CBU,Addis Ababa,449,4,1,1,TBP

In [15]:
CHUR_COLUMN_NAME=['PROCESSING_DATE',
'MSISDN',
'SMS_W1_REVN',
'SMS_W2_REVN',
'SMS_W3_REVN',
'SMS_W4_REVN',
'SMS_W5_REVN',
'SMS_W6_REVN',
'SMS_W7_REVN',
'SMS_W8_REVN',
'SMS_W9_REVN',
'SMS_W10_REVN',
'SMS_W11_REVN',
'SMS_W12_REVN',
'SMS_M1_REVN',
'SMS_M2_REVN',
'SMS_M3_REVN',
'SMS_W1_CNT',
'SMS_W2_CNT',
'SMS_W3_CNT',
'SMS_W4_CNT',
'SMS_W5_CNT',
'SMS_W6_CNT',
'SMS_W7_CNT',
'SMS_W8_CNT',
'SMS_W9_CNT',
'SMS_W10_CNT',
'SMS_W11_CNT',
'SMS_W12_CNT',
'SMS_M1_CNT',
'SMS_M2_CNT',
'SMS_M3_CNT',
'SMS_SINCE_LAST_USED',
'SMS_ACTIVE_DAYS_W1',
'SMS_ACTIVE_DAYS_W2',
'SMS_ACTIVE_DAYS_W3',
'SMS_ACTIVE_DAYS_W4',
'SMS_ACTIVE_DAYS_W5',
'SMS_ACTIVE_DAYS_W6',
'SMS_ACTIVE_DAYS_W7',
'SMS_ACTIVE_DAYS_W8',
'SMS_ACTIVE_DAYS_W9',
'SMS_ACTIVE_DAYS_W10',
'SMS_ACTIVE_DAYS_W11',
'SMS_ACTIVE_DAYS_W12',
'SMS_ACTIVE_DAYS_M1',
'SMS_ACTIVE_DAYS_M2',
'SMS_ACTIVE_DAYS_M3',
'GPRS_W1_USG_MBS',
'GPRS_W2_USG_MBS',
'GPRS_W3_USG_MBS',
'GPRS_W4_USG_MBS',
'GPRS_W5_USG_MBS',
'GPRS_W6_USG_MBS',
'GPRS_W7_USG_MBS',
'GPRS_W8_USG_MBS',
'GPRS_W9_USG_MBS',
'GPRS_W10_USG_MBS',
'GPRS_W11_USG_MBS',
'GPRS_W12_USG_MBS',
'GPRS_M1_USG_MBS',
'GPRS_M2_USG_MBS',
'GPRS_M3_USG_MBS',
'GPRS_W1_REVENUE',
'GPRS_W2_REVENUE',
'GPRS_W3_REVENUE',
'GPRS_W4_REVENUE',
'GPRS_W5_REVENUE',
'GPRS_W6_REVENUE',
'GPRS_W7_REVENUE',
'GPRS_W8_REVENUE',
'GPRS_W9_REVENUE',
'GPRS_W10_REVENUE',
'GPRS_W11_REVENUE',
'GPRS_W12_REVENUE',
'GPRS_REVENUE_M1',
'GPRS_REVENUE_M2',
'GPRS_REVENUE_M3',
'GPRS_W1_CNT',
'GPRS_W2_CNT',
'GPRS_W3_CNT',
'GPRS_W4_CNT',
'GPRS_W5_CNT',
'GPRS_W6_CNT',
'GPRS_W7_CNT',
'GPRS_W8_CNT',
'GPRS_W9_CNT',
'GPRS_W10_CNT',
'GPRS_W11_CNT',
'GPRS_W12_CNT',
'GPRS_M1_CNT',
'GPRS_M2_CNT',
'GPRS_M3_CNT',
'FREE_GPRS_W1_USG_MBS',
'FREE_GPRS_W2_USG_MBS',
'FREE_GPRS_W3_USG_MBS',
'FREE_GPRS_W4_USG_MBS',
'FREE_GPRS_W5_USG_MBS',
'FREE_GPRS_W6_USG_MBS',
'FREE_GPRS_W7_USG_MBS',
'FREE_GPRS_W8_USG_MBS',
'FREE_GPRS_W9_USG_MBS',
'FREE_GPRS_W10_USG_MBS',
'FREE_GPRS_W11_USG_MBS',
'FREE_GPRS_W12_USG_MBS',
'FREE_GPRS_USG_M1',
'FREE_GPRS_USG_M2',
'FREE_GPRS_USG_M3',
'FREE_GPRS_W1_CNT',
'FREE_GPRS_W2_CNT',
'FREE_GPRS_W3_CNT',
'FREE_GPRS_W4_CNT',
'FREE_GPRS_W5_CNT',
'FREE_GPRS_W6_CNT',
'FREE_GPRS_W7_CNT',
'FREE_GPRS_W8_CNT',
'FREE_GPRS_W9_CNT',
'FREE_GPRS_W10_CNT',
'FREE_GPRS_W11_CNT',
'FREE_GPRS_W12_CNT',
'FREE_GPRS_CNT_M1',
'FREE_GPRS_CNT_M2',
'FREE_GPRS_CNT_M3',
'DATA_SINCE_LAST_USED',
'DATA_ACTIVE_DAYS_W1',
'DATA_ACTIVE_DAYS_W2',
'DATA_ACTIVE_DAYS_W3',
'DATA_ACTIVE_DAYS_W4',
'DATA_ACTIVE_DAYS_W5',
'DATA_ACTIVE_DAYS_W6',
'DATA_ACTIVE_DAYS_W7',
'DATA_ACTIVE_DAYS_W8',
'DATA_ACTIVE_DAYS_W9',
'DATA_ACTIVE_DAYS_W10',
'DATA_ACTIVE_DAYS_W11',
'DATA_ACTIVE_DAYS_W12',
'DATA_ACTIVE_DAYS_M1',
'DATA_ACTIVE_DAYS_M2',
'DATA_ACTIVE_DAYS_M3',
'OG_VC_MOUS_W1_CNT',
'OG_VC_MOUS_W2_CNT',
'OG_VC_MOUS_W3_CNT',
'OG_VC_MOUS_W4_CNT',
'OG_VC_MOUS_W5_CNT',
'OG_VC_MOUS_W6_CNT',
'OG_VC_MOUS_W7_CNT',
'OG_VC_MOUS_W8_CNT',
'OG_VC_MOUS_W9_CNT',
'OG_VC_MOUS_W10_CNT',
'OG_VC_MOUS_W11_CNT',
'OG_VC_MOUS_W12_CNT',
'OG_VC_MOUS_M1_CNT',
'OG_VC_MOUS_M2_CNT',
'OG_VC_MOUS_M3_CNT',
'OG_VC_W1_CNT',
'OG_VC_W2_CNT',
'OG_VC_W3_CNT',
'OG_VC_W4_CNT',
'OG_VC_W5_CNT',
'OG_VC_W6_CNT',
'OG_VC_W7_CNT',
'OG_VC_W8_CNT',
'OG_VC_W9_CNT',
'OG_VC_W10_CNT',
'OG_VC_W11_CNT',
'OG_VC_W12_CNT',
'OG_VC_M1_CNT',
'OG_VC_M2_CNT',
'OG_VC_M3_CNT',
'OG_VC_R1_CNT',
'OG_VC_R2_CNT',
'OG_VC_R3_CNT',
'OG_VC_R4_CNT',
'OG_VC_R5_CNT',
'OG_VC_R6_CNT',
'OG_VC_R7_CNT',
'OG_VC_R8_CNT',
'OG_VC_R9_CNT',
'OG_VC_R10_CNT',
'OG_VC_R11_CNT',
'OG_VC_R12_CNT',
'OG_VC_RM1_CNT',
'OG_VC_RM2_CNT',
'OG_VC_RM3_CNT',
'FREE_OG_VC_W1_CNT',
'FREE_OG_VC_W2_CNT',
'FREE_OG_VC_W3_CNT',
'FREE_OG_VC_W4_CNT',
'FREE_OG_VC_W5_CNT',
'FREE_OG_VC_W6_CNT',
'FREE_OG_VC_W7_CNT',
'FREE_OG_VC_W8_CNT',
'FREE_OG_VC_W9_CNT',
'FREE_OG_VC_W10_CNT',
'FREE_OG_VC_W11_CNT',
'FREE_OG_VC_W12_CNT',
'FREE_OG_VC_M1_CNT',
'FREE_OG_VC_M2_CNT',
'FREE_OG_VC_M3_CNT',
'FREE_OG_VC_W1_MOUS',
'FREE_OG_VC_W2_MOUS',
'FREE_OG_VC_W3_MOUS',
'FREE_OG_VC_W4_MOUS',
'FREE_OG_VC_W5_MOUS',
'FREE_OG_VC_W6_MOUS',
'FREE_OG_VC_W7_MOUS',
'FREE_OG_VC_W8_MOUS',
'FREE_OG_VC_W9_MOUS',
'FREE_OG_VC_W10_MOUS',
'FREE_OG_VC_W11_MOUS',
'FREE_OG_VC_W12_MOUS',
'FREE_OG_VC_MOUS_M1',
'FREE_OG_VC_MOUS_M2',
'FREE_OG_VC_MOUS_M3',
'IN_VC_W1_MOUS',
'IN_VC_W2_MOUS',
'IN_VC_W3_MOUS',
'IN_VC_W4_MOUS',
'IN_VC_W5_MOUS',
'IN_VC_W6_MOUS',
'IN_VC_W7_MOUS',
'IN_VC_W8_MOUS',
'IN_VC_W9_MOUS',
'IN_VC_W10_MOUS',
'IN_VC_W11_MOUS',
'IN_VC_W12_MOUS',
'IN_VC_MOUS_M1',
'IN_VC_MOUS_M2',
'IN_VC_MOUS_M3',
'IN_VC_W1_CNT',
'IN_VC_W2_CNT',
'IN_VC_W3_CNT',
'IN_VC_W4_CNT',
'IN_VC_W5_CNT',
'IN_VC_W6_CNT',
'IN_VC_W7_CNT',
'IN_VC_W8_CNT',
'IN_VC_W9_CNT',
'IN_VC_W10_CNT',
'IN_VC_W11_CNT',
'IN_VC_W12_CNT',
'IN_VC_CNT_M1',
'IN_VC_CNT_M2',
'IN_VC_CNT_M3',
'IN_VC_W1_REVENUE',
'IN_VC_W2_REVENUE',
'IN_VC_W3_REVENUE',
'IN_VC_W4_REVENUE',
'IN_VC_W5_REVENUE',
'IN_VC_W6_REVENUE',
'IN_VC_W7_REVENUE',
'IN_VC_W8_REVENUE',
'IN_VC_W9_REVENUE',
'IN_VC_W10_REVENUE',
'IN_VC_W11_REVENUE',
'IN_VC_W12_REVENUE',
'IN_VC_REVENUE_M1',
'IN_VC_REVENUE_M2',
'IN_VC_REVENUE_M3',
'VOICE_SINCE_LAST_USED',
'VOICE_ACTIVE_DAYS_W1',
'VOICE_ACTIVE_DAYS_W2',
'VOICE_ACTIVE_DAYS_W3',
'VOICE_ACTIVE_DAYS_W4',
'VOICE_ACTIVE_DAYS_W5',
'VOICE_ACTIVE_DAYS_W6',
'VOICE_ACTIVE_DAYS_W7',
'VOICE_ACTIVE_DAYS_W8',
'VOICE_ACTIVE_DAYS_W9',
'VOICE_ACTIVE_DAYS_W10',
'VOICE_ACTIVE_DAYS_W11',
'VOICE_ACTIVE_DAYS_W12',
'VOICE_ACTIVE_DAYS_M1',
'VOICE_ACTIVE_DAYS_M2',
'VOICE_ACTIVE_DAYS_M3',
'RECHARGE_W1_CNT',
'RECHARGE_W2_CNT',
'RECHARGE_W3_CNT',
'RECHARGE_W4_CNT',
'RECHARGE_W5_CNT',
'RECHARGE_W6_CNT',
'RECHARGE_W7_CNT',
'RECHARGE_W8_CNT',
'RECHARGE_W9_CNT',
'RECHARGE_W10_CNT',
'RECHARGE_W11_CNT',
'RECHARGE_W12_CNT',
'RECHARGE_M1_CNT',
'RECHARGE_M2_CNT',
'RECHARGE_M3_CNT',
'RECHARGE_W1_REVN',
'RECHARGE_W2_REVN',
'RECHARGE_W3_REVN',
'RECHARGE_W4_REVN',
'RECHARGE_W5_REVN',
'RECHARGE_W6_REVN',
'RECHARGE_W7_REVN',
'RECHARGE_W8_REVN',
'RECHARGE_W9_REVN',
'RECHARGE_W10_REVN',
'RECHARGE_W11_REVN',
'RECHARGE_W12_REVN',
'RECHARGE_M1_REVN',
'RECHARGE_M2_REVN',
'RECHARGE_M3_REVN',
'RECHARGE_SINCE_LAST_USED',
'RECH_ACTIVE_DAYS_W1',
'RECH_ACTIVE_DAYS_W2',
'RECH_ACTIVE_DAYS_W3',
'RECH_ACTIVE_DAYS_W4',
'RECH_ACTIVE_DAYS_W5',
'RECH_ACTIVE_DAYS_W6',
'RECH_ACTIVE_DAYS_W7',
'RECH_ACTIVE_DAYS_W8',
'RECH_ACTIVE_DAYS_W9',
'RECH_ACTIVE_DAYS_W10',
'RECH_ACTIVE_DAYS_W11',
'RECH_ACTIVE_DAYS_W12',
'RECH_ACTIVE_DAYS_M1',
'RECH_ACTIVE_DAYS_M2',
'RECH_ACTIVE_DAYS_M3',
'VLR_ACTIVE_DAYS_W1',
'VLR_ACTIVE_DAYS_W2',
'VLR_ACTIVE_DAYS_W3',
'VLR_ACTIVE_DAYS_W4',
'VLR_ACTIVE_DAYS_W5',
'VLR_ACTIVE_DAYS_W6',
'VLR_ACTIVE_DAYS_W7',
'VLR_ACTIVE_DAYS_W8',
'VLR_ACTIVE_DAYS_W9',
'VLR_ACTIVE_DAYS_W10',
'VLR_ACTIVE_DAYS_W11',
'VLR_ACTIVE_DAYS_W12',
'VLR_ACTIVE_DAYS_M1',
'VLR_ACTIVE_DAYS_M2',
'VLR_ACTIVE_DAYS_M3',
'PROFILE_TYPE',
'ACTIVATION_REGION',
'AON',
'DEVICE_TYPE',
'DEVICE_DATA_CAPABLITY',
'DEVICE_4G_CAPABLITY','CHURN_LABEL']

In [16]:
merged_df.columns = CHUR_COLUMN_NAME

In [17]:
merged_df

,PROCESSING_DATE,MSISDN,SMS_W1_REVN,SMS_W2_REVN,SMS_W3_REVN,SMS_W4_REVN,SMS_W5_REVN,SMS_W6_REVN,SMS_W7_REVN,SMS_W8_REVN,...,VLR_ACTIVE_DAYS_M1,VLR_ACTIVE_DAYS_M2,VLR_ACTIVE_DAYS_M3,PROFILE_TYPE,ACTIVATION_REGION,AON,DEVICE_TYPE,DEVICE_DATA_CAPABLITY,DEVICE_4G_CAPABLITY,CHURN_LABEL
0,2024-08-01,251717234052,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,5.0,0.0,0.0,CBU,Oromia,297,5,1,0,TBP
1,2024-08-01,251702006957,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,4.0,0.0,EBU-Internal,Addis Ababa,467,4,1,0,TBP
2,2024-08-01,251702002121,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,24.0,23.0,23.0,EBU-Internal,Addis Ababa,467,5,1,1,TBP
3,2024-08-01,251712054105,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,2.0,4.0,6.0,CBU,Oromia,502,2,1,1,TBP
4,2024-08-01,251712203668,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,13.0,10.0,4.0,CBU,None,256,5,1,1,TBP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2480742,2024-08-01,251703432946,0.144000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,28.0,3.0,0.0,CBU,Dire Dawa,716,5,1,1,TBP
2480743,2024-08-01,251712316471,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,18.0,10.0,5.0,CBU,None,232,5,1,1,TBP
2480744,2024-08-01,251716053227,0.403572,0.0,0.1,0.0,0.107143,0.103572,0.0,0.557144,...,28.0,26.0,27.0,CBU,Addis Ababa,327,5,1,0,TBP
2480745,2024-08-01,251715137507,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,21.0,23.0,0.0,CBU,None,410,5,1,0,TBP
2480746,2024-08-01,251713022516,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,23.0,23.0,26.0,CBU,Addis Ababa,449,4,1,1,TBP

In [19]:
#remove ['EBU-Internal','EBU - Sim_Box' ,CBU - Sim_Box','CBU - Staff' 'EBU-Test' 'EBU - Staff']
# List of values to remove
values_to_remove = ['EBU-Internal', 'EBU - Sim_Box', 'CBU - Sim_Box', 'CBU - Staff', 'EBU-Test', 'EBU - Staff']
# Filter the DataFrame
merged_df  = merged_df[~merged_df['PROFILE_TYPE'].isin(values_to_remove)]

In [217]:
#Remove PROCESSING_DATE, PROFILE_TYPE,ACTIVATION_REGION
columns_to_remove = ['MSISDN','PROCESSING_DATE','PROFILE_TYPE','ACTIVATION_REGION','DEVICE_TYPE','DEVICE_DATA_CAPABLITY', 'DEVICE_4G_CAPABLITY']
merged_df = merged_df.drop(columns=columns_to_remove)

In [21]:
# Impute missing values in merged_df with zero
merged_df_imputed = merged_df.fillna(0)

# Check the shape to ensure no rows were removed
print(f"Shape after imputing NaNs with zero: {merged_df_imputed.shape}")

Shape after imputing NaNs with zero: (2480747, 343)

In [23]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [25]:
relevant_features = pd.read_csv('features.csv')

In [27]:
relevant_features

                 Feature
0     SMS_ACTIVE_DAYS_W8
1     SMS_ACTIVE_DAYS_W9
2    SMS_ACTIVE_DAYS_W10
3    SMS_ACTIVE_DAYS_W11
4    SMS_ACTIVE_DAYS_W12
..                   ...
144  VLR_ACTIVE_DAYS_W11
145  VLR_ACTIVE_DAYS_W12
146   VLR_ACTIVE_DAYS_M1
147   VLR_ACTIVE_DAYS_M2
148   VLR_ACTIVE_DAYS_M3

[149 rows x 1 columns]

In [29]:
Random_Forest_Features = ['VLR_ACTIVE_DAYS_W12', 'VLR_ACTIVE_DAYS_W11', 'VLR_ACTIVE_DAYS_M3', 'VLR_ACTIVE_DAYS_W10', 'VLR_ACTIVE_DAYS_W9', 'VOICE_ACTIVE_DAYS_M3', 'OG_VC_MOUS_M3_CNT', 'GPRS_W12_USG_MBS', 'OG_VC_M3_CNT', 'GPRS_W12_CNT', 'DATA_ACTIVE_DAYS_W12', 'VLR_ACTIVE_DAYS_M2', 'VLR_ACTIVE_DAYS_W8', 'DATA_ACTIVE_DAYS_M3', 'GPRS_M3_CNT', 'VOICE_ACTIVE_DAYS_W12', 'VLR_ACTIVE_DAYS_W7', 'GPRS_M3_USG_MBS', 'VOICE_SINCE_LAST_USED', 'FREE_GPRS_CNT_M3', 'RECHARGE_M3_CNT', 'OG_VC_W12_CNT', 'OG_VC_MOUS_W12_CNT', 'FREE_GPRS_USG_M3', 'RECHARGE_SINCE_LAST_USED', 'GPRS_W11_USG_MBS', 'FREE_GPRS_W12_CNT', 'OG_VC_MOUS_W11_CNT', 'VLR_ACTIVE_DAYS_M1', 'GPRS_W10_CNT', 'GPRS_W11_CNT', 'OG_VC_RM3_CNT', 'RECH_ACTIVE_DAYS_M3', 'VOICE_ACTIVE_DAYS_W11', 'VLR_ACTIVE_DAYS_W6', 'IN_VC_REVENUE_M3', 'OG_VC_M2_CNT', 'VOICE_ACTIVE_DAYS_M1', 'VLR_ACTIVE_DAYS_W5', 'GPRS_M1_CNT', 'GPRS_M2_CNT', 'VOICE_ACTIVE_DAYS_M2', 'GPRS_W10_USG_MBS', 'OG_VC_R12_CNT', 'OG_VC_W11_CNT', 'VLR_ACTIVE_DAYS_W2', 'VLR_ACTIVE_DAYS_W1', 'RECHARGE_M1_CNT', 'IN_VC_CNT_M3', 'GPRS_W9_USG_MBS']

In [31]:
X_final_filtered = merged_df_imputed[Random_Forest_Features]

In [33]:
X_final_filtered

,VLR_ACTIVE_DAYS_W12,VLR_ACTIVE_DAYS_W11,VLR_ACTIVE_DAYS_M3,VLR_ACTIVE_DAYS_W10,VLR_ACTIVE_DAYS_W9,VOICE_ACTIVE_DAYS_M3,OG_VC_MOUS_M3_CNT,GPRS_W12_USG_MBS,OG_VC_M3_CNT,GPRS_W12_CNT,...,GPRS_M2_CNT,VOICE_ACTIVE_DAYS_M2,GPRS_W10_USG_MBS,OG_VC_R12_CNT,OG_VC_W11_CNT,VLR_ACTIVE_DAYS_W2,VLR_ACTIVE_DAYS_W1,RECHARGE_M1_CNT,IN_VC_CNT_M3,GPRS_W9_USG_MBS
0,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,0,0,0.000000,0.000000,0,0.0,5.0,0,0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,3,0,0.000000,0.000000,0,0.0,0.0,0,0,0.000000
2,7.0,4.0,23.0,7.0,5.0,0,0.000000,0.000000,0,0,...,0,0,0.000000,0.000000,0,6.0,7.0,0,0,0.000000
3,0.0,5.0,6.0,1.0,0.0,0,0.000000,0.000000,0,0,...,193,0,25.472482,0.000000,0,2.0,0.0,0,0,0.000000
4,0.0,0.0,4.0,0.0,4.0,0,0.000000,0.000000,0,0,...,76,0,0.000000,0.000000,0,2.0,0.0,0,0,0.112505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2480742,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,73,0,0.000000,0.000000,0,6.0,7.0,43,0,0.000000
2480743,1.0,4.0,5.0,0.0,0.0,0,0.000000,0.000000,0,0,...,14,0,0.000000,0.000000,0,6.0,0.0,0,0,0.000000
2480744,7.0,6.0,27.0,6.0,8.0,14,86.516667,0.030385,54,4,...,319,27,0.004943,0.000000,5,6.0,7.0,24,10,5.905214
2480745,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,58,0,0.000000,0.000000,0,6.0,2.0,0,0,0.000000
2480746,4.0,7.0,26.0,7.0,8.0,15,56.366667,0.000000,51,0,...,36,24,5.237595,3.358334,18,1.0,7.0,1,36,0.170033

In [35]:
import pickle

# Replace 'rf_model_top.pkl' with the path to your .pkl file
file_path = 'rf_model_NOV.pkl'

# Load the model from the .pkl file
with open(file_path, 'rb') as file:
    rf_model_top = pickle.load(file)

# Now rf_model_top contains the loaded model
print(rf_model_top)

RandomForestClassifier(max_depth=20, min_samples_leaf=4, min_samples_split=10,
                       n_estimators=200, random_state=42, warm_start=True)

In [35]:
y_pred = rf_model_top.predict(X_final_filtered)

In [37]:
y_pred

array([0, 0, 1, ..., 1, 1, 1], dtype=int64)

In [37]:
y_prob = rf_model_top.predict_proba(X_final_filtered)

In [39]:
results_df = pd.DataFrame({
    'Probability_Class_0': y_prob[:, 0],  # Probability for the negative class
    'Probability_Class_1': y_prob[:, 1],  # Probability for the positive class
    'Predicted_Label': (y_prob[:, 1] > 0.5).astype(int)  # Convert probabilities to binary predictions
})

In [41]:
results_df

         Probability_Class_0  Probability_Class_1  Predicted_Label
0                   0.289579             0.710421                1
1                   0.376221             0.623779                1
2                   0.712905             0.287095                0
3                   0.738542             0.261458                0
4                   0.579799             0.420201                0
...                      ...                  ...              ...
2480742             0.329140             0.670860                1
2480743             0.600860             0.399140                0
2480744             0.908699             0.091301                0
2480745             0.469571             0.530429                1
2480746             0.896871             0.103129                0

[2480747 rows x 3 columns]

In [235]:
filtered_df_Non_churn = results_df[results_df['Predicted_Label'] == 0]

In [237]:
filtered_df_Non_churn

         Probability_Class_0  Probability_Class_1  Predicted_Label
0                   0.945182             0.054818                0
1                   0.869688             0.130312                0
3                   0.707040             0.292960                0
4                   0.601245             0.398755                0
5                   0.977625             0.022375                0
...                      ...                  ...              ...
2466188             0.608993             0.391007                0
2466189             0.547666             0.452334                0
2466198             0.607327             0.392673                0
2466200             0.607327             0.392673                0
2466203             0.646732             0.353268                0

[1910570 rows x 3 columns]

In [239]:
filtered_df_Churned = results_df[results_df['Predicted_Label'] == 1]

In [241]:
filtered_df_Churned

         Probability_Class_0  Probability_Class_1  Predicted_Label
2                   0.450690             0.549310                1
15                  0.286741             0.713259                1
16                  0.332411             0.667589                1
17                  0.476258             0.523742                1
18                  0.377223             0.622777                1
...                      ...                  ...              ...
2466206             0.145321             0.854679                1
2466207             0.177713             0.822287                1
2466208             0.381288             0.618712                1
2466209             0.419440             0.580560                1
2466210             0.178473             0.821527                1

[555641 rows x 3 columns]

In [43]:
merged_df_selected= merged_df[['MSISDN', 'PROFILE_TYPE']]

In [45]:
merged_df_selected

               MSISDN  PROFILE_TYPE
0        251717234052           CBU
1        251702006957  EBU-Internal
2        251702002121  EBU-Internal
3        251712054105           CBU
4        251712203668           CBU
...               ...           ...
2480742  251703432946           CBU
2480743  251712316471           CBU
2480744  251716053227           CBU
2480745  251715137507           CBU
2480746  251713022516           CBU

[2480747 rows x 2 columns]

In [47]:
# Assuming both DataFrames are pandas DataFrames
# Merging on the index by default
final_df = results_df.merge(merged_df_selected, left_index=True, right_index=True)

# This will result in a DataFrame with all the columns: 
# 'Probability_Class_0', 'Probability_Class_1', 'Predicted_Label', 'MSISDN', 'PROFILE_TYPE'

In [61]:
final_df

,Probability_Class_0,Probability_Class_1,Predicted_Label,MSISDN,PROFILE_TYPE
0,0.289579,0.710421,1,251717234052,CBU
1,0.376221,0.623779,1,251702006957,EBU-Internal
2,0.712905,0.287095,0,251702002121,EBU-Internal
3,0.738542,0.261458,0,251712054105,CBU
4,0.579799,0.420201,0,251712203668,CBU
...,...,...,...,...,...
2480742,0.329140,0.670860,1,251703432946,CBU
2480743,0.600860,0.399140,0,251712316471,CBU
2480744,0.908699,0.091301,0,251716053227,CBU
2480745,0.469571,0.530429,1,251715137507,CBU
2480746,0.896871,0.103129,0,251713022516,CBU

In [63]:
# Filter for 'CBU' in PROFILE_TYPE and Probability_Class_0 less than 0.6
filtered_df = final_df[(final_df['PROFILE_TYPE'] == 'CBU') & (final_df['Probability_Class_0'] < 0.6)]

In [65]:
filtered_df

,Probability_Class_0,Probability_Class_1,Predicted_Label,MSISDN,PROFILE_TYPE
0,0.289579,0.710421,1,251717234052,CBU
4,0.579799,0.420201,0,251712203668,CBU
5,0.378996,0.621004,1,251716175794,CBU
7,0.411362,0.588638,1,251716170218,CBU
9,0.577289,0.422711,0,251710118315,CBU
...,...,...,...,...,...
2480718,0.301499,0.698501,1,251713678598,CBU
2480725,0.288581,0.711419,1,251713656525,CBU
2480741,0.574672,0.425328,0,251716059764,CBU
2480742,0.329140,0.670860,1,251703432946,CBU
2480745,0.469571,0.530429,1,251715137507,CBU

In [69]:
filtered_df.to_csv('CHURN_DF_JAN.csv', index=False)

In [67]:
filtered_df[filtered_df['MSISDN']=="251707103258"]

Empty DataFrame
Columns: [Probability_Class_0, Probability_Class_1, Predicted_Label, MSISDN, PROFILE_TYPE]
Index: []

In [267]:
# Select the columns in the desired order
final_df = final_df[['MSISDN','PROFILE_TYPE' ,'Probability_Class_0', 'Probability_Class_1', 'Predicted_Label']]

In [269]:
filtered_df_Churned = final_df[final_df['Predicted_Label'] == 1]

In [271]:
filtered_df_Churned

,MSISDN,PROFILE_TYPE,Probability_Class_0,Probability_Class_1,Predicted_Label
2,251716840509,CBU,0.450690,0.549310,1
15,251711646060,CBU,0.286741,0.713259,1
16,251716981946,CBU,0.332411,0.667589,1
17,251715281666,CBU,0.476258,0.523742,1
18,251777015899,CBU,0.377223,0.622777,1
...,...,...,...,...,...
2466206,251711699758,CBU,0.145321,0.854679,1
2466207,251777414338,CBU,0.177713,0.822287,1
2466208,251712356330,CBU,0.381288,0.618712,1
2466209,251703784882,CBU,0.419440,0.580560,1
2466210,251703665999,CBU,0.178473,0.821527,1

In [71]:
filtered_df_Churned_Threshold = final_df[(final_df['Predicted_Label'] == 1) | (final_df['Probability_Class_0'] < 0.55)]

In [73]:
filtered_df_Churned_Threshold

,MSISDN,Probability_Class_0,Probability_Class_1,Predicted_Label
2,251716840509,0.450690,0.549310,1
15,251711646060,0.286741,0.713259,1
16,251716981946,0.332411,0.667589,1
17,251715281666,0.476258,0.523742,1
18,251777015899,0.377223,0.622777,1
...,...,...,...,...
2358793,251713975592,0.145321,0.854679,1
2358794,251713965330,0.177713,0.822287,1
2358795,251713965335,0.381288,0.618712,1
2358796,251713965341,0.419440,0.580560,1
2358797,251713965342,0.178473,0.821527,1

In [283]:
filtered_df_non_churn = final_df[(final_df['Predicted_Label'] == 0)]

In [285]:
filtered_df_non_churn

,MSISDN,PROFILE_TYPE,Probability_Class_0,Probability_Class_1,Predicted_Label
0,251715907073,CBU,0.945182,0.054818,0
1,251704302381,CBU,0.869688,0.130312,0
3,251704132419,CBU,0.707040,0.292960,0
4,251713310909,CBU,0.601245,0.398755,0
5,251712363039,CBU,0.977625,0.022375,0
...,...,...,...,...,...
2466188,251710250003,EBU,0.608993,0.391007,0
2466189,251707864310,CBU,0.547666,0.452334,0
2466198,251717662566,CBU,0.607327,0.392673,0
2466200,251710011504,EBU-Internal,0.607327,0.392673,0
2466203,251703807289,CBU,0.646732,0.353268,0

In [ ]:
1569298

In [ ]:
1415376

In [165]:
# SQL Queries
query1 = """
SELECT * 
FROM CVM_ANALYTICS.JULY_Churners_Correctly_Predicted ctv 
"""

In [167]:
cursor.execute(query1)
rows_query1 = cursor.fetchall()
count_query1 = len(rows_query1)
logging.debug(f"Query executed. Number of rows returned: {count_query1}")
print(f"Query executed. Number of rows returned: {count_query1}")

Query executed. Number of rows returned: 0

In [71]:
# Example usage
data_list = rows_query1  # Replace with your list of data
chunk_size = 10000  # Adjust the chunk size as needed
merged_df_Test_set = process_and_merge_chunks(data_list, chunk_size)

In [73]:
# Assign the name 'MSISDN' to the first column of merged_df
merged_df_Test_set.columns = ['MSISDN'] + list(merged_df_Test_set.columns[1:])

In [185]:
# Ensure both MSISDN columns are of the same data type
filtered_df_Churned_Threshold['MSISDN'] = filtered_df_Churned_Threshold['MSISDN'].astype(str)
merged_df_Test_set['MSISDN'] = merged_df_Test_set['MSISDN'].astype(str)

# Now merge the dataframes
common_msisdn_df = filtered_df_Churned_Threshold.merge(merged_df_Test_set, on='MSISDN')

In [143]:
merged_df_Test_set.to_csv('Actual_July_churner.csv', index=False)

In [147]:
merged_df_Test_set

              MSISDN
0       251707805869
1       251710705833
2       251777440232
3       251707335075
4       251703714117
...              ...
476392  251715001127
476393  251710148382
476394  251710062302
476395  251712839841
476396  251702011474

[476397 rows x 1 columns]

In [151]:
common_msisdn_df.to_csv('July_Churners_Correctly_Predicted.csv',index=False)

In [187]:
common_msisdn_df

,MSISDN,Probability_Class_0,Probability_Class_1,Predicted_Label
0,251710773456,0.489109,0.510891,1
1,251713065707,0.370556,0.629444,1
2,251710937242,0.237876,0.762124,1
3,251710173119,0.197498,0.802502,1
4,251710029753,0.449875,0.550125,1
...,...,...,...,...
384113,251716727172,0.433625,0.566375,1
384114,251715001127,0.285381,0.714619,1
384115,251710062302,0.374724,0.625276,1
384116,251712839841,0.346545,0.653455,1
384117,251702011474,0.519817,0.480183,0

In [ ]:
common_msisdn_df.to_sql('JULY_Churners_Correctly_Predicted', con=engine, if_exists='replace', index=False)

In [201]:
# Filter DataFrame where Predicted_Label is 1 and Probability_Class_1 is above 0.9
filtered_df = common_msisdn_df[
    (common_msisdn_df['Predicted_Label'] == 1) & 
    (common_msisdn_df['Probability_Class_1'] > 0.8)
]

In [203]:
filtered_df

,MSISDN,Probability_Class_0,Probability_Class_1,Predicted_Label
3,251710173119,0.197498,0.802502,1
45,251716004632,0.189138,0.810862,1
46,251704970492,0.160721,0.839279,1
50,251710758804,0.199169,0.800831,1
94,251715426410,0.189138,0.810862,1
...,...,...,...,...
383945,251777461158,0.147126,0.852874,1
383974,251716695030,0.194672,0.805328,1
383987,251703449046,0.181770,0.818230,1
384002,251713203939,0.194240,0.805760,1
384079,251710907320,0.087435,0.912565,1

In [217]:
# Filter DataFrame where Predicted_Label is 1 and Probability_Class_1 is between 0.7 and 0.8
filtered_df = common_msisdn_df[
    (common_msisdn_df['Predicted_Label'] == 1) & 
    (common_msisdn_df['Probability_Class_1'] > 0.5) & 
    (common_msisdn_df['Probability_Class_1'] <= 0.6)
]

In [219]:
filtered_df

,MSISDN,Probability_Class_0,Probability_Class_1,Predicted_Label
0,251710773456,0.489109,0.510891,1
4,251710029753,0.449875,0.550125,1
7,251701737893,0.471464,0.528536,1
19,251716321142,0.446621,0.553379,1
22,251715515347,0.455149,0.544851,1
...,...,...,...,...
384072,251707165836,0.440136,0.559864,1
384080,251703426672,0.424222,0.575778,1
384087,251777705372,0.460889,0.539111,1
384108,251713931046,0.467738,0.532262,1
384113,251716727172,0.433625,0.566375,1

In [221]:
# Filter DataFrame where Predicted_Label is 0
filtered_df = common_msisdn_df[common_msisdn_df['Predicted_Label'] == 0]

In [223]:
filtered_df

,MSISDN,Probability_Class_0,Probability_Class_1,Predicted_Label
13,251712382010,0.640518,0.359482,0
14,251704952920,0.571830,0.428170,0
28,251703254648,0.597169,0.402831,0
34,251713491612,0.639463,0.360537,0
52,251799206936,0.625730,0.374270,0
...,...,...,...,...
384093,251715227426,0.510011,0.489989,0
384099,251716808156,0.508334,0.491666,0
384103,251704903559,0.595935,0.404065,0
384111,251715715992,0.553586,0.446414,0
384117,251702011474,0.519817,0.480183,0

In [273]:
filtered_df_Churned

,MSISDN,PROFILE_TYPE,Probability_Class_0,Probability_Class_1,Predicted_Label
2,251716840509,CBU,0.450690,0.549310,1
15,251711646060,CBU,0.286741,0.713259,1
16,251716981946,CBU,0.332411,0.667589,1
17,251715281666,CBU,0.476258,0.523742,1
18,251777015899,CBU,0.377223,0.622777,1
...,...,...,...,...,...
2466206,251711699758,CBU,0.145321,0.854679,1
2466207,251777414338,CBU,0.177713,0.822287,1
2466208,251712356330,CBU,0.381288,0.618712,1
2466209,251703784882,CBU,0.419440,0.580560,1
2466210,251703665999,CBU,0.178473,0.821527,1

In [293]:
merged_df[merged_df['MSISDN']=='251712356330']

,PROCESSING_DATE,MSISDN,SMS_W1_REVN,SMS_W2_REVN,SMS_W3_REVN,SMS_W4_REVN,SMS_W5_REVN,SMS_W6_REVN,SMS_W7_REVN,SMS_W8_REVN,...,VLR_ACTIVE_DAYS_M1,VLR_ACTIVE_DAYS_M2,VLR_ACTIVE_DAYS_M3,PROFILE_TYPE,ACTIVATION_REGION,AON,DEVICE_TYPE,DEVICE_DATA_CAPABLITY,DEVICE_4G_CAPABLITY,CHURN_LABEL
2466208,2024-06-01,251712356330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,CBU,None,330,5,1,1,Nov_Label

In [287]:
filtered_df_non_churn

,MSISDN,PROFILE_TYPE,Probability_Class_0,Probability_Class_1,Predicted_Label
0,251715907073,CBU,0.945182,0.054818,0
1,251704302381,CBU,0.869688,0.130312,0
3,251704132419,CBU,0.707040,0.292960,0
4,251713310909,CBU,0.601245,0.398755,0
5,251712363039,CBU,0.977625,0.022375,0
...,...,...,...,...,...
2466188,251710250003,EBU,0.608993,0.391007,0
2466189,251707864310,CBU,0.547666,0.452334,0
2466198,251717662566,CBU,0.607327,0.392673,0
2466200,251710011504,EBU-Internal,0.607327,0.392673,0
2466203,251703807289,CBU,0.646732,0.353268,0

In [295]:
pd.DataFrame(X_final_filtered.iloc[2466208]).T

,VLR_ACTIVE_DAYS_W12,VLR_ACTIVE_DAYS_W11,VLR_ACTIVE_DAYS_M3,VLR_ACTIVE_DAYS_W10,VLR_ACTIVE_DAYS_W9,VOICE_ACTIVE_DAYS_M3,OG_VC_MOUS_M3_CNT,GPRS_W12_USG_MBS,OG_VC_M3_CNT,GPRS_W12_CNT,...,GPRS_M2_CNT,VOICE_ACTIVE_DAYS_M2,GPRS_W10_USG_MBS,OG_VC_R12_CNT,OG_VC_W11_CNT,VLR_ACTIVE_DAYS_W2,VLR_ACTIVE_DAYS_W1,RECHARGE_M1_CNT,IN_VC_CNT_M3,GPRS_W9_USG_MBS
2466208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [291]:
X_final_filtered

,VLR_ACTIVE_DAYS_W12,VLR_ACTIVE_DAYS_W11,VLR_ACTIVE_DAYS_M3,VLR_ACTIVE_DAYS_W10,VLR_ACTIVE_DAYS_W9,VOICE_ACTIVE_DAYS_M3,OG_VC_MOUS_M3_CNT,GPRS_W12_USG_MBS,OG_VC_M3_CNT,GPRS_W12_CNT,...,GPRS_M2_CNT,VOICE_ACTIVE_DAYS_M2,GPRS_W10_USG_MBS,OG_VC_R12_CNT,OG_VC_W11_CNT,VLR_ACTIVE_DAYS_W2,VLR_ACTIVE_DAYS_W1,RECHARGE_M1_CNT,IN_VC_CNT_M3,GPRS_W9_USG_MBS
0,7.0,6.0,25.0,5.0,7.0,6,230.633333,3115.723273,12,133,...,565,12,5408.821827,0.0,0,7.0,7.0,2,0,2458.402927
1,5.0,5.0,22.0,5.0,7.0,13,32.550000,50.310483,12,5,...,157,0,135.909786,0.0,0,7.0,7.0,7,1,5425.947094
2,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,40,0,0.000000,0.0,0,1.0,0.0,6,0,0.000000
3,7.0,6.0,25.0,5.0,7.0,0,0.000000,0.000000,0,0,...,0,0,0.000000,0.0,0,7.0,7.0,0,0,0.000000
4,0.0,0.0,13.0,5.0,8.0,8,9.783333,0.000000,7,0,...,0,17,0.000000,0.0,0,7.0,7.0,5,2,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2466206,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,0,0,0.000000,0.0,0,0.0,0.0,1,0,0.000000
2466207,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,0,0,0.000000,0.0,0,0.0,0.0,0,0,0.000000
2466208,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,0,1,0.000000,0.0,0,0.0,0.0,0,0,0.000000
2466209,0.0,0.0,0.0,0.0,0.0,1,2.283333,0.000000,1,0,...,0,0,0.000000,0.0,0,0.0,0.0,0,0,0.000000
2466210,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0,0,...,0,0,0.000000,0.0,0,0.0,0.0,0,0,0.000000

In [ ]:
1811321

In [85]:
1811321+445264

2256585

In [89]:
filtered_df_Churned.to_csv('Nov_Churners.csv',index=False)

In [91]:
total = 2256585

In [93]:
Nov_Chruner  = 445264

In [ ]:
total = 2256585
Nov_Chruner  = 445264
Not_Churrned = 1811321

In [143]:
merged_df.iloc[2358797]

PROCESSING_DATE          2024-06-01 00:00:00
MSISDN                          251703665999
SMS_W1_REVN                              0.0
SMS_W2_REVN                              0.0
SMS_W3_REVN                              0.0
                                ...
AON                                      581
DEVICE_TYPE                                4
DEVICE_DATA_CAPABLITY                      1
DEVICE_4G_CAPABLITY                        0
CHURN_LABEL                        Nov_Label
Name: 2466210, Length: 343, dtype: object

In [297]:
filtered_df_CBU = filtered_df_Churned[filtered_df_Churned['PROFILE_TYPE'] == 'CBU']

In [309]:
filtered_df_CBU.to_csv('NOV_CHURNER.csv',index=False)

In [311]:

filtered_df_non_churn_CBU = filtered_df_non_churn[filtered_df_non_churn['PROFILE_TYPE'] == 'CBU']

In [299]:
filtered_df_CBU = filtered_df_Churned[filtered_df_Churned['PROFILE_TYPE'] == 'CBU']

,MSISDN,PROFILE_TYPE,Probability_Class_0,Probability_Class_1,Predicted_Label
2,251716840509,CBU,0.450690,0.549310,1
15,251711646060,CBU,0.286741,0.713259,1
16,251716981946,CBU,0.332411,0.667589,1
17,251715281666,CBU,0.476258,0.523742,1
18,251777015899,CBU,0.377223,0.622777,1
...,...,...,...,...,...
2466206,251711699758,CBU,0.145321,0.854679,1
2466207,251777414338,CBU,0.177713,0.822287,1
2466208,251712356330,CBU,0.381288,0.618712,1
2466209,251703784882,CBU,0.419440,0.580560,1
2466210,251703665999,CBU,0.178473,0.821527,1

In [305]:
merged_df[merged_df['MSISDN']=='251711646060']

,PROCESSING_DATE,MSISDN,SMS_W1_REVN,SMS_W2_REVN,SMS_W3_REVN,SMS_W4_REVN,SMS_W5_REVN,SMS_W6_REVN,SMS_W7_REVN,SMS_W8_REVN,...,VLR_ACTIVE_DAYS_M1,VLR_ACTIVE_DAYS_M2,VLR_ACTIVE_DAYS_M3,PROFILE_TYPE,ACTIVATION_REGION,AON,DEVICE_TYPE,DEVICE_DATA_CAPABLITY,DEVICE_4G_CAPABLITY,CHURN_LABEL
15,2024-06-01,251711646060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,CBU,None,171,5,1,1,Nov_Label

In [313]:
filtered_df_non_churn_CBU

,MSISDN,PROFILE_TYPE,Probability_Class_0,Probability_Class_1,Predicted_Label
0,251715907073,CBU,0.945182,0.054818,0
1,251704302381,CBU,0.869688,0.130312,0
3,251704132419,CBU,0.707040,0.292960,0
4,251713310909,CBU,0.601245,0.398755,0
5,251712363039,CBU,0.977625,0.022375,0
...,...,...,...,...,...
2466183,251711662722,CBU,0.641863,0.358137,0
2466187,251713180434,CBU,0.607327,0.392673,0
2466189,251707864310,CBU,0.547666,0.452334,0
2466198,251717662566,CBU,0.607327,0.392673,0
2466203,251703807289,CBU,0.646732,0.353268,0

In [323]:
final_df[final_df['MSISDN']=='251712495756']

,MSISDN,PROFILE_TYPE,Probability_Class_0,Probability_Class_1,Predicted_Label
601374,251712495756,CBU,0.312374,0.687626,1